/*
Modelo de caixa
*/

.conteudo{
	border: 1px solid red;
	/*espacamento interno - padding*/
	/*padding-top: 20px;
	padding-right: 20px; /* o valor do padding é somado ao tamanho da caixa*/
	/*padding-bottom: 20px;
	padding-left: 20px;
	padding: 20px 15px 10px 5px; /* top, right, bottom, left	
	padding:20px 5px; /* (20px - top, bottom) e (5px - right, left)*/
	padding: 20px; /*todos os lados com 20px*/

	/*espacamento externo - margin*/
	/*margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;*/
	margin: 10px;
	width: 200px;

}

#noticia{
	background-color: lightblue;
	padding: 10px;
	border: 1px solid gray;
	width: 200px;
	margin-left: 10px;
}

h2{ /*h.. normalmente ja tem margens definidas, podemos redefinir essas margens*/
	/*border: 1px solid blue;*/
	margin: 0px;
}